nav{
    background-color: #1C2B35;
    width: 100%;
}
.nav-bar{
    height: 80px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .home-btn{
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.nav-bar img{
    cursor: pointer;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    margin-left: 35px;
    font-size: 17px;
}
.nav-bar a:hover{
    color: rgb(252, 170, 17);
}

.sign-out-btn{
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 592px) {
    .nav-bar{
        width: 100%;
    }
}